# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter notebook checkpoints
.ipynb_checkpoints/


#ignore log files
*.log

#ignore data files
*.zip

# ignore IntelliJ directories and settings
*.iml
.idea/
.idea/*

